@media screen and (min-width: 500px) {

    #hamburger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;

    }

    nav ul {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    nav a {
        display: block;
        flex: 1 1 100%
    }

    .hero {
        margin: 0 auto;
        padding: 50px 0;
        max-width: 60%;
    }

    #hero {
        position: relative;
        text-align: center;

    }

    #hero-purpose {
        font-size: 1.75rem;
        color: rgb(var(--black));
        font-family: var(--main-font-family);
        max-width: 90%;

    }

    .scenario {
        text-align: center;
    }

    .scenario h2 {
        font-size: 1.5rem;
        font-family: var(--secondary-font-family);
    }

    #scenario1,
    #scenario2 {
        position: absolute;
        font-size: 1.4rem;
        background-color: rgb(var(--brown), .8);
        color: rgb(var(--ivory));

    }

    #scenario2 {
        top: 740px;
        right: 150px;
    }

    #scenario1 {
        top: 380px;
        left: 210px;
    }

    #illustration-grid {
        grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
    }

    #grid,
    #illustration-grid {

        max-width: 1500px;
    }

    #illustration-grid section {
        width: 420px;
        height: auto;
    }

}