:root {
    --black: black;
    --sap-grey: 89, 85, 98;
    --chocolate: 49, 38, 30;
    /* --subdued-brown: 104, 93, 72; */
    --pale-green: 203, 221, 168;
    --light-mocha: 239, 201, 171;
    --subdued-pink: 236, 177, 168;



    --white: white;
    --web-dev-font-family: Impact;
    --nav-font-family: Verdana;
    --body-font-family: Franklin Gothic Light;
    --name-font-family: "Cantata One", serif;
    --alt-font-family: Haettenschweiler;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header,
main,
footer {
    max-width: 900px;
    margin: 0 auto;

}

footer {
    background-color: rgb(var(--subdued-pink));
    color: var(--black);
}

#course-title {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    display: block;
    background-color: rgb(var(--light-mocha));
    color: var(--black);

}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: rgb(var(--chocolate));
    padding: 20px;
    justify-content: space-around;
    font-family: var(--nav-font-family);
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    text-decoration: none;
    color: var(--white);
    padding: 7px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1em;
}

.navigation a:hover {
    color: rgb(var(--subdued-pink));
}

#resource-list a:hover {
    color: rgb(var(--sap-grey));
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}

h1,
h2 {
    text-align: center;

}

h1 {
    font-size: 30px;
    padding: 10px;
    color: rgb(var(--sap-grey));
    font-family: var(--name-font-family);
}

h2 {
    padding: 5px;
    font-size: 15px;
    font-family: var(--nav-font);
    background-color: rgb(var(--pale-green));
}

p,
#resource-list {
    font-family: var(--body-font-family);
}

.card {
    border: 2px, solid, rgb(var(--sap-grey), .5);
    border-radius: 5px;
    padding: 5px;
    margin: 7px;
    box-shadow: 5px 5px 30px rgb(5 5 5 / .3);

}

.card-1 {
    display: grid;
}

#profile {
    display: flex;
}

#profile-photo,
#profile-blurb {
    padding: 7px;
}

#profile-photo {
    max-width: 100px;
}

#philippines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: left;
    justify-items: center; */
    justify-items: center;

}



#manila {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    padding: 0 100px;
    border-bottom: 5px solid rgb(var(--pale-green));
}

#flag {
    max-width: 100px;
    padding: 7px;


}

figure {
    grid-column: 1/2;
    grid-row: 2/3;

}

figcaption {
    font-size: .75em;
}

#manila-blurb {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 7px;
}

.card-2 {
    padding: 7px;
}

#resource-list {
    list-style: circle;
    padding: 35px;
    margin: 20px;
    border: 2px, solid, rgb(var(--subdued-pink), .3);
    box-shadow: .5px .2px 5px rgb(5 5 5 / .3);
    border-radius: 5px;
}

#resource-list li {
    padding: 7px;

}

#resource-list a {
    text-decoration: none;
    padding: 20px;
    margin: 10px;

}

footer {
    margin-top: 5px;
    padding: 15px;
    text-align: center;
    font-family: var(--alt-font-family);
}