@media screen and (min-width: 500px) {

    #hamburger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav a {
        display: block;
        flex: 1 1 100%
    }



}