:root {
    --med-green: 114, 150, 54;
    --olive-green: 72, 90, 2;
    --orange: 230, 148, 27;
    --taupe: 229, 192, 150;
    --font-family: "Lato", sans-serif;
    --font-family-footer: Verdana;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

header,
main,
footer {
    padding: 5px;
    margin: 0 auto;
}

header,
footer {
    background-color: rgb(var(--olive-green));
    color: #ffffff;
}

header {
    border-bottom: 7px solid rgb(var(--orange));
    height: 5em;
}

/* main { */
/* border: 2px solid rgb(var(--med-green)); */
/* } */

h1,
h2 {
    font-family: var(--font-family);
    text-align: center;

}

h1 {
    font-weight: 700;
    margin-top: 11px;
}


img {
    width: 100%;
    height: auto;

}

/* section {

    margin: 20px;
    font-size: larger;

} */

table {
    margin: 0 auto;
    padding: 10px;
    font-family: var(--font-family);
}

#weather-svg {
    max-width: 50px;
    margin: 0 auto 0 8em;
}

.first-col {
    text-align: right;
}

table td {
    padding: .1em;
}

footer {
    padding: 20px;
    font-family: var(--font-family-footer);
    text-align: center;
}




@media screen and (min-width: 500px) {
    #weather-icon::after {
        content: "☀️";
    }

    #weather-svg {
        display: none;
    }

    img {
        position: relative;
    }

    #left-section,
    #right-section {
        position: absolute;
        padding-top: 42px;
        background-color: rgb(var(--taupe), .8);
    }

    #left-section {
        top: 95px;
        left: 20px;
    }

    #right-section {
        bottom: 5px;
        right: 20px;
    }

    section h2 {
        position: absolute;
        background-color: rgb(var(--med-green), .7);
        color: black;
        padding: 5px 20px;
        text-align: left;
        display: inline;
        top: 8px;
        left: -10px;
    }
}