:root {
    --nono-font: "Noto Sans", sans-serif;
    --raleway-font: "Raleway", sans-serif;

    --dark-choc: 25, 25, 25;
    --taupe: 226, 197, 140;
    --grey: 109, 108, 108;
    --white: 252, 252, 252;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    max-width: 900px;
    margin: 0 auto;

}

header,
footer {
    background-color: rgb(var(--dark-choc));
    color: rgb(var(--white));
    padding: 20px;
}

header {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

header p,
h1,
footer p {
    font-family: var(--raleway-font);
}

header p {
    font-size: 1.2rem;
    font-weight: 600;

    margin: 0 auto 0 0;
}

#hamburger {
    font-size: 1rem;
    color: rgb(var(--white));
    background: none;
    position: fixed;
    top: 1rem;
    right: .5rem;
}

#hamburger::before {
    content: "☰";

}

#hamburger.open::before {
    content: "x";
}


.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;
}

.navigation a {
    display: none;
    text-align: center;
    padding: 5px;
    /* border-radius: 4px; */
    font-family: var(--nono-font);
    font-size: 1rem;
    text-decoration: none;
    /* background-color: rgb(var(--grey)); */
    color: rgb(var(--white));
    margin: 5px;
}

.navigation a:hover {
    color: rgb(var(--taupe));
}

.open a {
    display: block;
}

.active::before {
    content: "[";
}

.active::after {
    content: "]"
}

main {
    padding: 0px 0px 0px 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    padding: 7px;
}

.grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    background-color: rgb(var(--white));
    max-width: 860px;

}

.grid img {
    max-width: 255px;
    padding: 5px;
    box-shadow: 4px 10px 15px rgb(var(--grey), .5);
}

.grid-item {
    margin: 3px;
    justify-items: center;
}

figcaption {
    font-family: var(--nono-font);
}

footer {
    text-align: center;
    margin-top: 10px;
}

footer p {
    font-size: .8rem;
}